
/* -- CSS ------------------------------------------------------------------- */

.main-content {
    flex-grow: 1; min-height: auto;
    display: flex; flex-direction: column;
}

/* -------------------------------------------------------------------------- */

.main-sidebar-container, .main-header {
    z-index: 200;
}

.main-sidebar-container.is-open {
    width: var(--sidebar-width-open);
}

.main-sidebar-container.is-open .main-sidebar {
    width: var(--sidebar-width-open);
}

.main-sidebar-container.is-open .main-sidebar-header h1 {
    display: block;
}

/* Centrar los botones a la izquierda y mostrar el texto */
.main-sidebar-container.is-open .main-sidebar-button {
    justify-content: flex-start; /* Alinear a la izquierda */
}

/* Mostrar los textos de los botones */
.main-sidebar-container.is-open .main-sidebar-button p {
    display: block;
}

/* Rotar el icono de menú_open */
.main-sidebar-container.is-open #toggle-main-sidebar {
    transform: rotate(180deg);
}

/* -------------------------------------------------------------------------- */

.main-sidebar-container {
    width: var(--sidebar-width-closed);
    background-color: var(--background-color);
    border-right: .125rem solid var(--canvas-color);
}

.main-sidebar {
    top: 0; left: 0; height: 100vh;
    display: grid; position: sticky;
    grid-template-rows: 8rem 1fr auto;
    width: var(--sidebar-width-closed);
    grid-template-columns: repeat(1, 1fr);

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

/* -------------------------------------------------------------------------- */

.main-sidebar-header {
    justify-content: center;
    grid-row: 1; height: 8rem;
    padding: 2rem; align-items: center;
    display: flex; flex-direction: row;
}

.main-sidebar-header img {
    width: 4rem;
    object-fit: contain;
    filter: drop-shadow(
        0 0 .25rem var(--text-color));
}

.main-sidebar-header h1 {
    opacity: .8;
    display: none;

    margin-left: 1.5rem;
    color: var(--color-artemis);
    filter: drop-shadow(
        0 0 .25rem var(--text-color-80));
}

/* -------------------------------------------------------------------------- */

.main-sidebar-content {
    display: flex; flex-direction: column;
    grid-row: 2; justify-content: flex-start;
}

.main-sidebar-button {
    padding: 1.5rem 2rem;
    width: 100%; gap: .5rem;
    border-right: .3rem solid transparent;
    display: flex; justify-content: center;
}

.main-sidebar-button p {
    display: none;
}

.main-sidebar-button span, .main-sidebar-button p {
    color: var(--state-idle);
}

.main-sidebar-button:hover {
    border-right-color: var(--state-hover);
}

.main-sidebar-button:hover span, .main-sidebar-button:hover p {
    color: var(--state-hover);
}

.main-sidebar-button:active {
    border-right-color: var(--state-active);
}

.main-sidebar-button:active span, .main-sidebar-button:active p {
    color: var(--state-active);
}

/* -------------------------------------------------------------------------- */

.main-sidebar-footer {
    grid-row: 3;
    padding-bottom: 2rem;
}

.logout-button span, .logout-button p {
    opacity: .5;
    color: var(--color-danger);
}

.logout-button:hover {
    border-right-color: var(--color-danger);
}

.logout-button:hover span, .logout-button:hover p {
    opacity: 1;
    color: var(--color-danger);
}

/* -------------------------------------------------------------------------- */

.main-header {
    position: sticky;
    align-items: center;
    top: 0; left: 0; height: 8rem;
    display: flex; flex-direction: row;
    background-color: var(--background-color);
    box-shadow: 0 .5rem 3rem 1.5rem var(--background-color);
}

/* -------------------------------------------------------------------------- */

.main-header-toggle span {
    padding: 1.4rem;
    font-size: 2.2rem;
    color: var(--state-idle);
}

.main-header-toggle span:hover {
    color: var(--state-hover);
}

/* -------------------------------------------------------------------------- */

.main-header-search {
    opacity: .75;
    position: relative;
    flex: auto; display: flex;
    align-items: center; justify-content: center;
}

.main-header-search input[type='text'] {
    width: 100%;
    font-size: 1.2rem;
    margin-left: 2rem;
    padding: 1.25rem 2rem;
    border-radius: .4rem;
    border: none; outline: none;
    background-color: var(--canvas-color);
}

.main-header-search:hover, 
.main-header-search input[type='text']:hover {
    opacity: 1;
}

.main-header-search:hover, 
.main-header-search input[type='text']:active {
    opacity: 1;
}

.main-header-search input[type='text']::placeholder {
    font-size: 1.2rem;
}

#voice-search-btn {
    cursor: pointer;
    position: absolute;
    top: 50%; right: 2rem;
    transform: translateY(-50%);
    padding: .5rem; border-radius: 50%;
    color: var(--state-hover);
}

#voice-search-btn:hover {
    color: var(--state-active);
}

/* -------------------------------------------------------------------------- */

.main-header-user-area {
    margin-right: 2rem;
    flex: content; display: flex; gap: 1rem;
    align-items: center; justify-content: right;
}

.main-header-notifications-icon {
    padding: 1rem;
    cursor: pointer;
    color: var(--state-idle);
}

.user-initial-circle {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 3rem; height: 3rem;

    border-radius: 50%;
    color: var(--background-color);
    font-size: 1.2rem; font-weight: bold;
    background-color: var(--state-hover);
}

/* -------------------------------------------------------------------------- */

.main-container, .main-header, .main-footer {
    padding: 1rem;
}

/* -------------------------------------------------------------------------- */

.main-container {
    flex-grow: 1;
    view-transition-name: main-content-transition;
}

/* -------------------------------------------------------------------------- */

.main-footer {
    text-align: center;
    background-color: var(--canvas-color);
}

/* -------------------------------------------------------------------------- */