
/* -- CSS ------------------------------------------------------------------- */

@font-face {
    font-family: 'GemunuLibre';
    src: url('../fonts/GemunuLibre/GemunuLibre.ttf') format('truetype-variations');
    font-weight: 100 900; font-display: swap;
}

@view-transition {
    navigation: auto;
}

/* -------------------------------------------------------------------------- */

:root {

    --main-color: #A69CAC;
    --title-color: #735D78;

    /* Colores... */
    --text-color: #22212D;
    --canvas-color: #F7F7F2;
    --background-color: #F6F8F8;

    --color-info: #81A4CD;
    --color-alert: #EE6352;
    --color-danger: #A22522;
    --color-success: #798478;

    --state-idle: #CCDBDC;
    --state-hover: #D1B3C4;
    --state-active: #B392AC;
    --state-inactive: #E8C2CA;
}

.justifiEd-text {
    hyphens: auto;
    text-wrap: pretty;
    text-align: justify;
    hyphenate-limit-chars: 7;
}

/* -------------------------------------------------------------------------- */

* {
    user-select: none;
    box-sizing: border-box;
    transition: all .24s ease-in-out;
    interpolate-size: allow-keywords;

    color: var(--text-color);
    font-family: 'GemunuLibre', sans-serif;
}

html, body {
    display: flex;
    min-width: 100dvw;
    min-height: 100dvh;
    margin: 0; padding: 0;

    scrollbar-width: none;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    background-color: var(--background-color);
}

a {
    cursor: pointer;
    text-decoration: none;
}

img {
    pointer-events: none;
}

button {
    cursor: pointer;
    border: none; outline: none;
    box-shadow: none; background: none;
}

textarea {
    field-sizing: content;
}

input {
    outline: none;
}

/* -------------------------------------------------------------------------- */